body {
	font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sentence {
	clear: both;
	margin-top: 60px;
	font-size: 36px;
	line-height: 1.5;
	cursor: pointer;
}

.wordbank-container {
	margin-top: 20px;
	height: 400px;
	overflow-y: scroll;
}
.wordbank {
	width: 33%; 
	display: inline-block;
	vertical-align: top;
}

.subject, .verb, .predicate {
	font-size: 20px;
	padding: 10px;
	background-color: #c5f7e3;
	border: 1px solid #a7f3d5;
	margin-bottom: 10px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 8px;
}