{% extends 'default.html' %}

{% block body %}
    <h1>Have Some Words</h1>
    <!-- <% include word_list { locals: list = leftwords } %> -->
    <input type="checkbox" id="sound_enabled"/>
    <label for="sound_enabled">Sound</label>

    <input id="pitch" type="range" min="0" max="20" value="10" class="slider">
    <label for="pitch">Pitch</label>

    <div class="wordbank-container">
        <div class="wordbank">
            {% for word in subjects %}
                <div id='{{word.id}}' class='subject'>{{ word }}</div>
            {% endfor %}
        </div>
        <div class="wordbank">
            {% for word in verbs %}
                <div id='{{word.id}}' class='verb'>{{ word }}</div>
            {% endfor %}
        </div>
        <div class="wordbank">
            {% for word in predicates %}
                <div id='{{word.id}}' class='predicate'>{{ word }}</div>
            {% endfor %}
        </div>
    </div>

    <div class="sentence">
        <span id="subject"></span>
        <span id="verb"></span>
        <span id="predicate"></span>
    </div>

    <script>
     {% include "js/app.js" %}
    </script>

{% endblock %}
